/* Publicação do Post */
.share-box-entry {
    height: 120px;
    background-color: #ffffff;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #e2e2e2;
}

.share-box-entry button {
    width: 542px;
    height: 40px;
    align-items: center;
    border: 1px solid #e2e2e2;
    border-radius: 15px;
    margin-top: 24px;
    float: right;
    margin-right: 42px;
    user-select : none;
    -moz-user-select : none;
    -webkit-user-select : none;
    cursor: pointer;
    background-color: #FAFAFA;
    text-align: left;
}

p {
    word-break: break-all;
}

.share-box-entry button:active {
    text-align: left;
    border: 1px solid #e2e2e2;
}

.share-box-entry button:focus {
    outline: none;
    text-align: left;
}

.share-box-entry img {
    max-height: 3.0rem;
    max-width: 3.0rem;
    border-radius: 30px;
    margin-left: 30px;
    margin-top: 20px;
    border: 1px solid #e2e2e2;
}

/*Publicações*/

.post{
    height: auto;
    background-color: #ffffff;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #e2e2e2;
    margin-top: 20px!important;
}

.img_post {
    max-height: 3.0rem;
    max-width: 100%;
    border-radius: 30px;
    margin-left: 30px;
    margin-top: 20px;
    border: 1px solid #e2e2e2;
}

.usuario_post{
    max-width: 400px;
    display: flex;
}

.usuario_post h3{
    font-size: 1.0rem;
    letter-spacing: 0.03em;
    font-weight: bold;
    margin-top: 35px;
    margin-left: 10px;
    color: #363636

}
.texto_publicacao  {
    font-size: 0.875rem;
    color: #363636;
    max-width: 92%;
    margin-left: 38px;
    line-height: 150%;
    word-break: break-all;

}

.publicacao{
    width: 682px;
    height: 500px;

}

/*Comentarios post*/

.img_comentario{
    max-height: 3.0rem;
    max-width: 3.0rem;
    border-radius: 30px;
    margin-left: 30px;
    margin-top: 20px;
    border: 1px solid #e2e2e2;
}

.area_comentarios input{
    width: 542px;
    height: 30px;
    align-items: center;
    border: 1px solid #e2e2e2;
    border-radius: 0.938rem;
    margin-top: 1.75rem;
    float: right;
    margin-right: 2.625rem;
}

.area_comentarios input:focus {
    outline: none;
    text-align: left;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 24%;
    margin: 10rem auto auto;
    height: auto;
}
.entry-input {
    width: 100%;
    margin-top: 24px;
    margin-right: 42px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    background-color: #FAFAFA;
    text-align: left;
}

.entry-input:focus {
    outline: none;
    text-align: left;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-left: 1rem;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.carregar_comentarios {
    font-size: 0.75rem;
    font-weight: bold;
    margin-left: 80%;
    cursor: pointer;
    color: #666666;
}

/* Solid border */
hr.solid {
    border-top: 1px solid #bbb;
}