/* Primeira section do profile */
.profile-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 9rem;
}


.img-user {
  max-height: 3rem;
  border-radius: 30px;
  margin-left: 35px;
}

.header-profile .profile-name {  
  font-weight: bold;
  font-size: 0.875rem;
  color: #2d2d2d;
  margin-left: 10px;
}
.btn-edit {
  width: 40%;
  height: 35px;
  font-size: 12px;/*14px*/
  font-weight: bold;
  border-radius: 4px;
  transition-duration: 0.4s;
  cursor: pointer;
  color: var(--blue);
  background-color: #fefefe;
  border: 1px solid var(--blue);
  margin-inline-start: 13rem;
}

.btn-edit:hover {
  background-color: var(--blue);
  color: #fefefe;
  transition: color 200ms ease;
}


/* Segunda section do profile */
.header-profile-bottom ul {
  display: table;
  border-spacing: 10px;
  border-collapse: separate;
}

.header-profile-bottom ul li {
  vertical-align: middle;
  display: table-row;
}

.header-profile-bottom ul li span {
  margin-inline-start: 1rem;
  display: table-cell;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 24px;
  color: #3a3a3a;
}

.header-profile-bottom ul li img {
  margin-inline-end: 0.5rem;
}

/* Terceira section do profile */
.header-profile-about-title {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  word-wrap: break-word;
  font-weight: 600;
  font-size: 14px;
  color: #b5b5b5;
}
.header-profile-about-conteudo {
  margin-inline-start: 1rem;
  margin-inline-end: 1rem;
  text-align: center;
  word-wrap: break-word;
  font-size: 12px;
  line-height: 18px;
  color: #2e2e2e;
  margin-bottom: 1rem;
}

/*Mobile*/
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .header-profile .profile-name {
    font-weight: 600;
    font-size: 12px;
  }

  
}

/*tablet*/
@media only screen and (min-width: 481px) and (max-width: 768px){

  .header-profile .profile-name {
    font-weight: 600;
    font-size: 12px;
  }
  .btn-edit{
  width: 98%;
  height: 35px;
  font-size: 12px;/*14px*/
  margin-inline-start: 2rem;
  }
  .header-profile-bottom ul li span{
    font-size:12px;
  }
}

/*notebook*/
@media only screen and (min-width: 769px) and (max-width: 1024px){

}
