

.menu_nav_container {
  margin-top:100px!important;
  
}



/*conteudo menu nav*/
.menu_nav {    
    margin-bottom: 0.8rem;  
    height:3.9rem;  
    background-color: #fefefe!important; 
   
}

.menu_nav ul {
    display: flex;
    padding-inline-start: 4%;
    margin-top:22px;
   
}

.menu_nav ul li {
    margin-right: 1.3rem;
    cursor: pointer;        
    font-weight: bold;
    font-size: 14px;    
    color: #4b4b4b;
    
}
.active_menu_nav {
    text-decoration: none;   
    color: #4285F4;
    font-weight: bold;
    font-size: 14px;
   
    
   
}

.menu_nav {
    display: flex;
    z-index: 100;
    box-shadow: 0 5px 8px -12px rgba(0, 0, 0, 0.75);
    background: #FEFEFE;
    border: 1px solid #E9E9E9;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 2rem;
}

/*@media all and (min-width: 960px) {
    .menu_nav {
        display: flex;
        z-index: 100;
        box-shadow: 0 5px 8px -12px rgba(0, 0, 0, 0.75);
        background: #FEFEFE;
        border: 1px solid #E9E9E9;
        box-sizing: border-box;
        border-radius: 4px;
        margin-top: 2rem;
    }

    .menu_nav ul {
        display: flex;
    }

    .menu_nav ul li {
        margin-right: 1rem;
        cursor: pointer;
    }
}

@media all and (max-width: 600px) {
    .menu_nav {
        display: grid;
        z-index: 100;
        box-shadow: 0 5px 8px -12px rgba(0, 0, 0, 0.75);
        background: #FEFEFE;
        border: 1px solid #E9E9E9;
        box-sizing: border-box;
        border-radius: 4px;
        justify-content: center;
        margin-top: 2rem;
    }

    .menu_nav ul {
        display: flex;
        flex-flow:wrap;
        align-content:space-between;
    }

    .menu_nav ul li {
        margin-right: 1rem;
        cursor: pointer;
        margin-top: 1rem;
    }
}

@media all and (max-width: 800px) {
    .menu_nav {
        display: flex;
        z-index: 100;
        box-shadow: 0 5px 8px -12px rgba(0, 0, 0, 0.75);
        background: #FEFEFE;
        border: 1px solid #E9E9E9;
        box-sizing: border-box;
        border-radius: 4px;
        margin-top: 2rem;
    }

    .menu_nav ul {
        display: flex;
        flex-flow:wrap;
        justify-content: space-evenly;
    }

    .menu_nav ul li {
        font-size: 1rem;
        cursor: pointer;
        margin-top: 1rem;
    }
}*/