<section class="container">
    <nav class="menu_nav">
        <ul class="menu_nav_ul" id="menu-nav-ul">
            <li><a onclick="loadFeed(this)">Noticias</a>
            </li>
            <li><a onclick="loadFeed(this)">Estabelecimentos</a></li>
            <li><a onclick="loadFeed(this)">Segurança</a></li>
            <li><a onclick="loadFeed(this)">Casas</a></li>
            <li><a onclick="loadFeed(this)">Eventos</a></li>
            <li><a onclick="loadFeed(this)">Doações</a></li>
            <li><a onclick="loadFeed(this)">Desaparecidos</a></li>
        </ul>
    </nav>
</section>