
<section class="container menu_nav_container ">
    <nav class="menu_nav border">
        <ul class="menu_nav_ul" id="menu-nav-ul">            
            <li>               
                <a onclick="loadFeed(this)">Noticias <div></div></a>
                
            </li>
            <li>
                <a onclick="loadFeed(this)">Estabelecimentos <div></div></a>
                
            </li>
            <li>
                <a onclick="loadFeed(this)">Segurança <div></div></a>
                
            </li>
            <li>
                <a onclick="loadFeed(this)">Casas <div></div></a>
                
            </li>
            <li>
                <a onclick="loadFeed(this)">Eventos <div></div></a>
                
            </li>
            <li>
                <a onclick="loadFeed(this)">Doações <div></div></a>
                
            </li>
            <li>
                <a onclick="loadFeed(this)">Desaparecidos<div></div></a>
                
            </li>
        </ul>
    </nav>
</section>