/*Flexbox container*/
.header_nav {
 position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  background: #fefefe; 
}

.header_nav_items {
  flex-direction: row;
  margin-top: 10px;
  
}

/*Logo*/
.header_nav_items img {
  width: 100%;  
  margin-top:5px;
 
}

/*Nome do bairro*/
.bairro {
  font-size: 24px;
  color: #6e6d7a;    
}

/*campo pesquisar*/
.search {
  font-family: -apple-system, Roboto, "Helvetica Neue", sans-serif;
  background: #F7F7F8;
  border: 1px solid #e9e9e9;
  border-radius: 4px;
  height: 2rem;
  margin-bottom: 5px;  
  outline:none;
  width: auto;
  font-size: 16px;  
  color: #53525d;

}
.search::placeholder {
  text-align: center;
  font-family: FontAwesome;
  color: #9e9ea7; 
  font-size:14px;
}

.search[type="text" i] {
  padding: 0 3%;
}

/*icones header*/
.header_nav_items ul {
  display: flex;
  width: 100%;  
  margin-right: 312px;
  align-self: flex-end;
 
}

.header_nav_items li {
  cursor: pointer;
  margin-right: 1rem;  
}

/* aparador modal icones*/
hr.solid {
  margin-inline-start: -40px;
  border: 1px solid #e9e9e9;
}

/* dropdown */
ul.primary li a {
  display: block;
}

ul.primary li:last-child a {
  border-right: none;
}

ul.primary li a:hover {
  color: #000;
}

/* subs */
ul.sub {
  z-index: 200;
  display: none;
  position: absolute;
  width: 145px;
  height: 113px;
  background: #fefefe;
  border: 1px solid #e9e9e9;
  box-sizing: border-box;
  border-radius: 4px;
}

ul.sub li {
  float: none;
  margin-bottom: 10px;
  margin-top: 10px;
}

ul.sub li a {
  color: #000;
  margin-bottom: 0.5rem;
  text-align: left;
  margin-inline-start: -39px;
  font-weight: 300;
  font-size: 12px;
}

ul.sub li a:hover {
  color: #000;
  background: #eeeeee;
}

/* sub display*/
ul.primary li.permahover-notifications ul {
  display: block;
  background: #fff;
  margin-inline-start: -3.4rem;
  margin-top: 10px;
}

ul.primary li.permahover-profile ul {
  display: block;
  background: #fff;
  margin-inline-start: -5.5rem;
  margin-top: 10px;
}

/* keeps the tab background white */
ul.primary li:hover a {
  background: #fff;
  color: #666;
  text-shadow: none;
}

ul.primary li:hover > a {
  color: #000;
}

/*Mobile*/
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .header_logo {
    margin-top: 10%;
    height: 10%;
    margin-inline-start: 25%;
  }

  .header_nav_items span {
    display: none;
  }

  .search {
    width: 58%;
    margin-inline-start: 30%;
    margin-inline-end: 0%;
  }

  .search::placeholder {
    font-size: 0.8rem;
  }

  .header_nav_items ul {
    margin-top: 10%;
    width: 65%;
    margin-right: 30px;
  }
}

.icons {
  width: 16px !important;
  margin-top: 0 !important;
  margin-right: 10px;
  margin-left: 10px;
}

/*tablet*/
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .header_logo {
    margin-inline-start: 15%;
    margin-top: 5%;
  }

  .header_nav_items span {
    display: none;
  }

  .search {
    width: 65%;
    margin-inline-start: 25%;
    margin-inline-end: 0%;
    height: 1.6rem;
  }

  .header_nav_items ul {
    margin-top: 10%;
    margin-right: 8px;
    
  }

  .header_nav_items img{
    margin-bottom: 10px;   
  }

  .search::placeholder {   
    font-size:12px;
  }

}
/*notebook*/
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .header_logo {
    margin-inline-start: 30%;
    margin-top: 5%;
  }

  .bairro {
    margin-inline-start: 0;
  }

  .search {
    width: 85%;
    margin-inline-start: 0%;
    margin-inline-end: 0%;
    height: 1.6rem;
  }

  .header_nav_items ul {
    margin-top: 10%;
    margin-right: 30px;
   
  }
}
