/*Flexbox container*/
.header_nav {
    position: fixed;    
    top: 0;
    z-index: 10;
    display: flex;
    width: 100%;       
    justify-content: space-around ;
    align-items: center;    
    background: #FEFEFE;      
}

.header_nav_items {
    flex-direction: row;
    margin-top: 10px;
}

/*Logo*/
.header_nav_items img {
    width:100%;
    margin-top: 7%;    
}



/*Nome do bairro*/
.bairro {          
    font-size: 18px;          
    color: #2D2D2D;    
}

/*campo pesquisar*/
.search {    
    background: #FAFAFA;
    border: 1px solid #EAEAEA;
    border-radius: 4px;
    height: 1.7rem;  
    margin-inline-end: 10rem;    
}

.search:focus {
    outline: none;
    background-color: #fefefe;      
}

.search:hover {
    outline: none;
    background-color: #fefefe;        
}

.search::placeholder {
    text-align: center;    
    font-family:FontAwesome;  
    color: #b5b5b5;  
    font-size: 14px;    
}

.search[type="text" i] {
   padding: 1px 15px;
}

/*icones header*/
.header_nav_items ul {
    display: flex;
    max-width: 100%;
    
}

.header_nav_items li {
    cursor: pointer;    
    margin-right: .9rem;
}

/*Mobile*/
@media only screen and (min-width: 320px) and (max-width: 480px) {  

    .header_logo { 
        
        margin-top: 10%;
        height: 10%;
        margin-inline-start: 25%;          
    }

    .header_nav_items span {
        display: none
    }

    .search {
        width: 58%; 
        margin-inline-start: 30%;   
        margin-inline-end: 0%;                    
    }

    .search::placeholder {         
        font-size: 0.8rem;                
    }

    .header_nav_items ul {
        margin-top: 10%;
        width: 65%;
        margin-right: 30px;
    }
  
}

/*tablet*/
@media only screen and (min-width: 481px) and (max-width: 768px) {

    .header_logo { 
        margin-inline-start: 15%;
        margin-top: 5%;
       
    }

    .header_nav_items span {
        display: none;
    }

    .search {
       width: 65%;
       margin-inline-start: 20%;
       margin-inline-end: 0%;
       height: 1.6rem;
    }

    .header_nav_items ul {
       margin-top: 10%;
       margin-right: 20px;
    }
}
/*notebook*/
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .header_logo { 
        margin-inline-start: 30%;
        margin-top: 5%;       
    }

    .bairro{
        margin-inline-start: 70%;
    }

    .search {
        width: 65%;
        margin-inline-start: 25%;
        margin-inline-end: 0%;
        height: 1.6rem;
     }

     .header_nav_items ul {
        margin-top: 10%;
        margin-right: 40px; 
     }
}