<div class="header_nav border" id="header-nav">

    <div class="header_nav_items">
        <img class="header_logo" src="assets/logo.svg"/>
    </div>
    <div class="header_nav_items">
        <span class="bairro" id="bairro">Moema</span>
    </div>
    <div class="header_nav_items">
        <div>
        <input type="text" class="search" placeholder="&#xf002;  Pesquisar" id="header_search" maxlength="28"
               autocomplete="false" onkeyup="buscarBairros(this)">
        </div>
    </div>
    <div class="header_nav_items">
        <ul>
            <li>
                <a tabindex="-1">
                    <img src="assets/header/home.svg" alt="home"/>
                </a>
            </li>
            <li>
                <a tabindex="-1">
                    <img src="assets/header/notification.svg" alt="notificao"/>
                </a>
            </li>
            <li>
                <a>
                    <img src="assets/header/perfil.svg" alt="profile"/>
                </a>
            </li>
        </ul>
    </div>
</div>