<header class="header">

    <div class="header__left">
        <h2>FellowShip</h2>
    </div>
    <div class="header__center">
        <h3>Moema</h3>
        <label>
            <input type="search" placeholder="Pesquisar">
        </label>
    </div>
    <div class="icone_perfil">
        <img src="assets/images/jovem-estudante.png" alt="">
    </div>
</header>

<section class="menu_nav container">
    <nav>
        <ul>
            <li><a onclick="loadFeed()">Noticias</a></li>
            <li><a onclick="loadFeed()">Estabelecimentos</a></li>
            <li><a onclick="loadFeed()">Segurança</a></li>
            <li><a onclick="loadFeed()">Casas</a></li>
            <li><a onclick="loadFeed()">Eventos</a></li>
            <li><a onclick="loadFeed()">Doações</a></li>
            <li><a onclick="loadFeed()">Desaparecidos</a></li>
        </ul>
    </nav>
</section>