<html lang="pt-br">
<head>
    <title>
        Login page
    </title>
</head>
<body>
<input type='checkbox' id='form-switch'>
<form id='login-form' action="" method='post'>
    <label>
        <input type="text" placeholder="Username" required name="username">
    </label>
    <label>
        <input class="login" type="password" placeholder="Password" required name="password">
    </label>
    <button class="login" type='submit' onclick="checkLogin(this.form)" value="Login">Login</button>
    <label for='form-switch'><span>Register</span></label>
</form>
<form id='register-form' action="" method='post'>
    <label>
        <input type="text" placeholder="Username" required name="username">
    </label>
    <label>
        <input type="email" placeholder="Email" required name="email">
    </label>
    <label>
        <input type="password" placeholder="Password" required name="password">
    </label>
    <label>
        <input type="password" placeholder="Re Password" required>
    </label>
    <button type='submit' onclick="register(this.form)">Register</button>
    <label for='form-switch'>Already Member ? Sign In Now..</label>
</form>
</body>