<div class="wrapper">
  <div class="child-item">
    <img class="img-login" src="assets/images/ilustracao-login.svg" alt="...">
  </div>

  <div class="child-item form-login border">
    <img src="assets/images/logo-login.svg" class="logo-login" alt="Fellowship">
    <div>
      <input  class="border form-control" type="email"  id="floatingInput" placeholder="Email">
    </div>
    <div>
      <input class="border form-control" type="password"  id="floatingPassword" placeholder="Senha">
    </div>
    <button type="submit" class="btn">Entrar</button>
    <hr class="aparador-login">

  <div class="call-login">
    <p>Ainda não tem conta?</p> 
    <h4 onclick="modalCadastro()">Cadastre-se</h4>
  
</div>
  <!--Cadastro-->
  <div class="modal-cadastro" id="modalCadastro">
    <div class="modal-form-cadastro">
  <form class="form-cadastro border">
    <span class="close-modal" onclick="fecharModalCadastro()">&times;</span>
   <div>     
    <img src="assets/images/logo-login.svg" class="logo-cadastro" alt="Fellowship">
    
  </div>    
    <div>
      <input class="border" type="text" id="nomeInput" placeholder="Nome Completo">
    </div>
    <div>
      <input  class="border" type="email"  id="emailInput" placeholder="Email">
    </div>
    <div>
      <input class="border" type="password"  id="passwordInput" placeholder="Senha">
    </div>
    <div>      
      <input  class="border" type="date"  id="dataDeNascimentoInput" placeholder="dd/mm/yyyy">
    </div>
    <div>
      <input  class="border" type="text"  id="cepInput" placeholder="Cep">
    </div>
    <div>
      <input class="border" type="text" id="bairroInput" placeholder="Bairro">
    </div>
    <button type="submit" class="btn">Cadastre-se</button>
   </form>
  </div>
  </div>
</div>

